.container {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #01383a;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .container .container {
    width: 738px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container .container {
    width: 1280px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero {
  width: 320px;
  height: 100vh;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 1280px;
  }
}

.hero__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/hero-mob-1x.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("../images/main/hero-mob-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .hero__background {
    background-size: cover;
    background-position: center;
    background-image: url("../images/main/hero-tab-1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("../images/main/hero-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .hero__background {
    width: 1280px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/main/hero-desk1-1x.png"), url("../images/main/hero-desk2-1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("../images/main/hero-desk1-2x.png"), url("../images/main/hero-desk2-2x.png");
  }
}

.title-hero {
  width: 270px;
  height: 114px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1875;
  position: absolute;
  color: #ffffff;
  top: 284px;
  left: auto;
  right: auto;
}
@media screen and (min-width: 768px) {
  .title-hero {
    width: 399px;
    height: 198px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.0714285714;
    top: 290px;
    left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .title-hero {
    width: 515px;
    height: 225px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.171875;
    top: 316px;
    left: 142px;
  }
}

.title-hero__one {
  display: inline;
}
@media screen and (min-width: 768px) {
  .title-hero__one {
    display: none;
  }
}

.title-hero__two {
  display: none;
}
@media screen and (min-width: 768px) {
  .title-hero__two {
    display: inline;
  }
}

.link-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 173px;
  height: 51px;
  border-radius: 16px;
  border: none;
  background-color: #86E543;
  padding: 16px 0;
  top: 423px;
  left: auto;
  right: auto;
  bottom: 173px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  text-transform: uppercase;
  color: #01383A;
}
@media screen and (min-width: 768px) {
  .link-hero {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1666666667;
    width: 173px;
    height: 51px;
    top: 582px;
    left: 41px;
    bottom: 208px;
  }
}
@media screen and (min-width: 1280px) {
  .link-hero {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.0714285714;
    width: 306px;
    height: 70px;
    top: 581px;
    left: 142px;
    bottom: 209px;
  }
}/*# sourceMappingURL=main.css.map */