//0-767px-mobile
@media screen and (max-width: 767px) {
    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .about-list-container {
        @extend %align;
    
        width: 450px;
        height: 120px;
        background-color: var(--fifth-background);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    .about-title-item {
        @include font (700, 14px, 16px);
    
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        color: var(--accent-text-color);
        margin-bottom: 10px;
    }

    .about-paragraph {
        @include font (400, 14px, 24px);
    
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    }
}

//768px-tablet
@media screen and (min-width: 768px) {
    .about-list-item {
        width: calc((100% - 30px)/2);
    }

    .about-list-container {
        width: 354px;
    }

    .about-title-item {
        text-align: left;
    }
}

//1200px-dekstop
@media screen and (min-width: 1200px) {
    .about-list {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .about-list-item {
        width: calc((100% - 90px)/4);
    }

    .about-list-container {
        width: 270px;
    }

}