//mobile and tablet - visually-hidden
@media screen and (max-width: 1199px) {
    .work-section {
        //class="visually-hidden"
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        margin: -1px;
    }
}

//1200px-dekstop
@media screen and (min-width: 1200px) {
    .work-container {
        padding-top: 94px;
        padding-bottom: 94px;
        padding-left: auto;
        padding-right: auto;
    }

    .all-titles {
        @include font (700, 28px, 32px);
    
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
        margin-bottom: 30px;
    }

    .work-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    
    .work-list {
        display: block;
    }
    
    .work-list-wrapper {
        position: relative;
    }
    
    .work-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: auto;
    
        @include font (700, 14px, 16px);
    
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--third-text-color);
        background-color: var(--eleventh-background);
        width: 100%;
        height: 70px;
        padding-top: 27px;
        padding-bottom: 27px;
        padding-left: auto;
        padding-right: auto;
    }
}