body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $main-font-color;
    background-color: $main-bg-color;
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    @extend %centred;

    //768px-tablet
        @media screen and (min-width: 768px) {
            .container {
                width: 738px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    
        //1200px-desktop
        @media screen and (min-width: 1280px) {
            .container {
                width: 1280px;
            }
        }
}